<h1>Fix with a Click</h1>
<p>Fix your household needs with a few short clicks</p>
<p>1. Create an account</p>
<p>2. Make a request</p>
<p>3. Choose a tradesperson of your specification in your area</p>
<p>4. That tradesperson will contact you within minutes</p>