<h1 align=center>Fix with a Click</h1>
<body align=center>
<p><%= image_tag("fixIt.jpg", :size => '400x400') %></p>
<p>New Customer? <%= link_to "Register", new_customer_path %></p>
<br><p>New Tradesperson? <%= link_to "Register", new_tradesperson_path%> </p>
<br><p></p></body>